.navbar {
    background: linear-gradient(90deg, rgba(122,159,172,1) 0%, rgba(206,220,224,1) 100%, rgba(0,212,255,1) 100%);
    display: flex;
    padding: 1rem;
    flex-wrap: wrap;
    width: auto;
    height: auto;
}

.navbar__links {
    list-style-type: none;
    display: flex;
    align-self: center;
    margin-left: auto;
}

.navbar__link {
    padding: 1rem;
}

.navbar__link:hover {
    cursor: pointer;
}

.navbar__title {
    align-self: center;
    color: white;
}

.navbar__content {
    display: flex;
    flex-wrap: wrap;
}

.content__left {
    margin-right: auto;
    width: 50%;
    align-self: center;
}

.content__right {
    margin-left: auto;
    width: 50%;
}

.right__video {
    float: right;
    width: 560px;
    height: 315px;
}

@media (max-width: 1150px) {
    .navbar {
        display: block;
        text-align: center;
    }

    .navbar__title {
        margin-bottom: 0;
    }

    .navbar__links {
        list-style-type: none;
        display: flex;
        padding-inline-start: 0;
        margin-block-end: 0;
        margin-block-start: 0;
        width: 100%;
        justify-content: center;
    }

    .navbar__content {
        justify-content: center;
    }

    .content__left {
        width: 100%;
    }

    .content__right {
        width: 100%;
    }

    .right__video {
       width: 100%;
       height: 30vh;
    }
}
